<div class="card">
    <div class="card-header" id="transferencias">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse" data-target="#transferenciasBody"
                    aria-expanded="false" aria-controls="transferenciasBody">
                Ultimas Transferencias
            </button>
        </h2>
    </div>
    <div id="transferenciasBody" class="collapse"
         aria-labelledby="transferencias"
         data-parent="#accordionUserSetting">
        <div class="card-body">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Monto de salida</th>
                    <th scope="col">Banco de Salida</th>
                    <th scope="col">Monto de llegada</th>
                    <th scope="col">Banco de Llegada</th>
                    <th>Status</th>
                    <th scope="col">Fecha de transferencia</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <th scope="row">{{ transaction.getId }}</th>
                        <td>{{ transaction.getMontoDeSalida }}</td>
                        <td>{{ transaction.getBancoDeSalida }} ({{ transaction.getCurrencyDeSalida }})</td>
                        <td>{{ transaction.getMontoDeLlegada }}</td>
                        <td>{{ transaction.getBancoDellegada }} ({{ transaction.getCurrencyDeLlegada }})</td>
                        <td>{{ transaction.getStatus }}</td>
                        <td>{{ transaction.getDtcUser|date("m/d/Y") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>