{{ form_start(form, {'attr':{'id':'post-form'}}) }}
<div class="form-group">
    {{ form_widget(form.bancoSalida.banco, {'attr':{'id':'exampleFormControlSelect1', 'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_widget(form.bancoLlegada.banco, {'attr':{'id':'exampleFormControlSelect2', 'class': 'form-control'}}) }}
</div>
<button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }}