{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="h-100" style="background-image: url({{ asset('images/login-page.jpg') }});
            background-repeat: no-repeat;
            background-attachment: fixed;">
        <div class="container-fluid py-5" >
            <div class="row justify-content-center mt-5">
                <div class="col-4 align-self-center">
                    <form class="form-signin" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal text-light">Please sign in</h1>
                        <div class="form-label-group mb-3">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                                   required
                                   autofocus>
                        </div>
                        <div class="form-label-group mb-3">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>


                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}
                        <p class=" text-center">
                            <button class="btn btn-lg btn-primary text-cente" type="submit">
                                Sign in
                            </button>
                        </p>

                        <p class="mt-5 mb-3 px-5 text-center">
                            <a class="btn btn-lg btn-success" href="{{ path('app_register') }}">
                                Register here
                            </a>
                        </p>
                        <p class="mt-5 mb-3 px-5 text-center">
                            <span class="bg-dark text-light">&copy; 2017-2020</span>
                        </p>
                        {#  <p>
                        Sign in bt Google <br/>
                        <button class="social-button" @click.prevent="signInWithGoogle">
                            <img src="../assets/google.png" alt="google logo"/>
                        </button>
                    </p>#}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
