<template>
  <div>
    <p>Oh no something went wrong....</p>
    <h3>{{ this.errorMessage }}</h3>
    <a class="btn btn-primary" href="/transaction">Restart transaction</a>
  </div>
</template>

<script>

import {store} from "../../Store/store";

export default {
  name: "Failure",
  data()
  {
    return {
      errorMessage: store.state.errorFound
    }
  }
}
</script>

<style scoped>

</style>