<template>
  <div>
    <p>
      Great you are done;
      Go to your dashboard <a href="/">here</a>
    </p>
  </div>
</template>

<script>
export default {
  name: "Success"
}
</script>

<style scoped>

</style>