<template>
  <div class="container-fluid mb-4">
    <div class="row border-dark border-bottom">
      Paso numero/3: {{ this.pageSelected }}
      <div class="col offset-2">
        <button id="TransactionFirstStep" class="btn-lg btn-primary" @click="pageSelected='TransactionFirstStep'">First Step</button>
      </div>
      <div class="col pb-0">
        <button id="TransactionSecondStep" class="btn-lg btn-outline-primary"
                @click="pageSelected='TransactionSecondStep'">Second Step
        </button>
      </div>
      <div class="col">
        <button id="TransactionThirdStep" class="btn-lg btn-outline-primary"
                @click="pageSelected='TransactionThirdStep'">ThirdStep
        </button>
      </div>
    </div>
  </div>
</template>

<script>

import {store} from "../../Store/store";

export default {
  name: "TransactionHeader",
  data: function () {
    return {
      pageSelected: store.state.getTransactionCurrentStep,
    }
  },
  watch: {
    pageSelected: function () {
      this.$emit('pageWasChanged', this.pageSelected)
    }
  }
}
</script>

<style scoped>

</style>