<template>
  <div>
    <h4>Transfiere ({{ this.monedaDeSalida }}) {{ this.valorDeSalida }} desde {{ this.bancoSalida }} a la cuenta indicada a continuacion</h4>
    <h2>Informacion de banco de compañia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="container" v-on:submit.prevent="nextStep">
      <form class="row justify-content-md-center" method="post" action="another">
        <div>
          <a class="btn btn-danger" href="/">Cancelar Operacion</a>
          <button type="submit" class="btn btn-success">Ya Transferi</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>

import {store} from "../../Store/store";

export default {
  name: "TransactionSecondStep",
  data: function () {
    return {
      monedaDeSalida: '',
      valorDeSalida:'',
      bancoSalida:''
    }
  },
  mounted()
  {
    console.log(store.state.transactionInfo);
    this.monedaDeSalida = store.state.transactionInfo['monedaDeSalida'];
    this.valorDeSalida = store.state.transactionInfo['valorDeSalida'];
    this.bancoSalida = store.state.transactionInfo['nombreDeBancoDeSalida'];
  },
  methods: {
    nextStep: async function (e) {
      this.$emit('setCurrentStep', 'TransactionThirdStep')
    }
  }
}
</script>

<style scoped>

</style>