<template>
  <div>
    <h4>Transfiere ({{ this.monedaDeSalida }}) {{ this.valorDeSalida }} desde {{ this.bancoSalida }} a la cuenta indicada a continuacion</h4>
    <h2>Informacion de banco de compañia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div v-on:submit.prevent="addNewTransaction">
      <form method="post" action="another">
        <div class="form-group">
          <label>Adiciona el codigo</label>
          <input type="text" class="form-control" v-model="codVerificacion" placeholder="0000-0000-0000">
        </div>
        <div class="row">
          <div class="col text-center"><a class="btn-lg btn-warning" href="#">Atras</a></div>
          <div class="col text-center">
            <button type="submit" class="btn btn-success">Mandar Codigo!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {store} from "../../Store/store";

export default {
  name: "TransactionThirdStep",
  data: function () {
    return {
      monedaDeSalida: '',
      valorDeSalida:'',
      bancoSalida:'',
      transactionInfo: null,
      codVerificacion: ''
    }
  },
  mounted()
  {
    this.transactionInfo = store.state.transactionInfo;
    this.monedaDeSalida = store.state.transactionInfo['monedaDeSalida'];
    this.valorDeSalida = store.state.transactionInfo['valorDeSalida'];
    this.bancoSalida = store.state.transactionInfo['nombreDeBancoDeSalida'];
  },
  methods: {
    addNewTransaction: async function (e) {
      store.commit('addVerifyCod', this.codVerificacion)
      this.postTransaction()
    },
    postTransaction()
    {
      store.dispatch('postTransaction').then((response) => {
        this.another = 'all good'
        store.commit('clearTransaction')
        this.$emit('setCurrentStep', 'SuccessMessage');
      }).catch((error) => {
        const {response} = error;
        const {request, ...errorObject} = response;
        store.commit('setError', errorObject.data);
        this.$emit('setCurrentStep', 'FailureMessage');
      });
    }
  }
}
</script>

<style scoped>

</style>