<template>
  <div>
    <div ref="formFirstStepBancos" v-on:submit.prevent="onSubmit">
      <img style="width: 10rem" src="/images/loading.gif" alt="loading">
    </div>
    <div class="d-none" ref="formFirstStepMoneda" v-on:submit.prevent="onSubmitTransaction">
      <img ref="loading" style="width: 10rem" src="/images/loading.gif" alt="loading">
      <div ref="formMonedas" id="post-transactions" class="d-none">
        <h3 class="mt-2">Cambio</h3>
        <form method="post" action="something">
          <div class="form-group">
            <input type="text" v-model="valorDeSalida" class="form-control" placeholder="Adiciona valor a enviar">
          </div>
          <div>
            Valor de cambio: 1{{ MonedaDeSalida }} tiene valor {{ valorMoneda }}{{ MonedaDeLlegada }}
          </div>
          <div class="form-group">
            <input type="text" v-model="valorDeLlegada" class="form-control" placeholder="Valor a enviado">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery';
import {store} from "../../Store/store";

export default {
  name: "TransactionFirstStep",
  async mounted()
  {
    let {data} = await axios.get('/transaction/firstStep/bancos');
    this.$refs.formFirstStepBancos.innerHTML = data.form.content;
  },
  data: function () {
    return {
      transactionInfo: [],
      valorDeSalida: 0,
      MonedaDeSalida: '',
      valorMoneda: '',
      valorDeLlegada: 0,
      MonedaDeLlegada: ''
    }
  },
  methods: {
    onSubmit: async function (e) {
      let formData = Array.from(e.target).reduce((acc, input) => ({...acc, [input.id]: input.value}), {});
      this.$refs.formFirstStepMoneda.className = "";
      $('#post-form').addClass("d-none");
      await axios.post('/transaction/firstStep/bancos', formData)
          .then((response) => {
            this.$refs.loading.className = "d-none";
            this.$refs.formMonedas.className = "";
            this.transactionInfo['bancoLlegada']= parseInt(formData['transaction_first_step_bancos_bancoLlegada_banco']);
            this.transactionInfo['bancoSalida']= parseInt(formData['transaction_first_step_bancos_bancoSalida_banco']);
            this.transactionInfo['nombreDeBancoDeSalida'] = response.data.nombreDeBancoDeSalida;
            this.transactionInfo['nombreDeBancoDeLlegada'] = response.data.nombreDeBancoDeLlegada;
            this.MonedaDeLlegada = response.data.MonedaLlegada;
            this.MonedaDeSalida = response.data.MonedaSalida;
            this.valorMoneda = response.data.rate;
          })
          .catch((error)=>{
            const {response} = error;
            const {request, ...errorObject} = response;
            if (errorObject.data['error_message'] === "Mismo banco utilizado") {
              store.commit('setError', errorObject.data['error_message']);
              this.$emit('setCurrentStep', 'FailureMessage');
            }
          });
    },
    onSubmitTransaction: async function (e) {
      this.transactionInfo['valorDeSalida'] = parseInt(this.valorDeSalida);
      this.transactionInfo['valorDeLlegada'] = this.valorDeLlegada;
      this.transactionInfo['monedaDeSalida'] = this.MonedaDeSalida;
      this.transactionInfo['monedaDeLlegada'] = this.MonedaDeLlegada;
      this.$refs.formMonedas.className = "d-none";
      this.$refs.loading.className = "";
      store.commit("addTransaction", this.transactionInfo);
      this.$emit('setCurrentStep', 'TransactionSecondStep');
    },

  },
  watch: {
    valorDeSalida: function (value) {
      this.valorDeLlegada = value * this.valorMoneda;
    }
  }
}
</script>

<style scoped>

</style>