{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div >
    {% include 'Block/header.html.twig' %}
    {% include 'Block/errorBlock.hml.twig' %}
    {% include 'vue.html.twig' %}
</div>
{% endblock %}
