{% extends 'base.html.twig' %}

{% block title %}Registra un banco{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {% include 'Block/header.html.twig' %}
    <div class="container mt-4">
            <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h1>Register</h1>

                {{ form_start(registrationBancosForm) }}
                <div class="mb-3 row">
                    <div class="col-6">
                        <span class="form-label" >Banco</span>
                        {{ form_widget(registrationBancosForm.bancos, { 'attr': {'class': 'form-control'} })}}
                    </div>
                    <div class="col-6">
                        <span class="form-label" >Numero de cuenta</span>
                        {{ form_widget(registrationBancosForm.cuenta, { 'attr': {'class': 'form-control'} })}}
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="input-group mb-3 col-8">
                        <span class="input-group-text" >Alias</span>
                        {{ form_widget(registrationBancosForm.alias, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="mb-3 text-center">
                        {{ form_row(registrationBancosForm.submit, { 'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                    </div>
                </div>

                {{ form_end(registrationBancosForm) }}
            </div>

            </div>

    </div>

{% endblock %}
