{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container mt-4">
            <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h1>Register</h1>

                {{ form_start(registrationForm) }}
                <div class="mb-3 row">
                    <div class="col-6">
                        <span class="form-label" >Legal Document</span>
                        {{ form_widget(registrationForm.legalDocument, { 'attr': {'class': 'form-control'} })}}
                    </div>
                    <div class="col-6">
                        <span class="form-label" >Document Number</span>
                        {{ form_widget(registrationForm.legalDocumentNumber, { 'attr': {'class': 'form-control'} })}}
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" >Nombre</span>
                        {{ form_widget(registrationForm.name, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="input-group mb-3 col-6">
                        <span class="input-group-text" >Apellido</span>
                        {{ form_widget(registrationForm.lastname, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="input-group mb-3 col-8">
                        <span class="input-group-text" >Email</span>
                        {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} })}}
                    </div>

                    <div class="input-group mb-3 col-8">
                        <span class="input-group-text" >Password</span>
                        {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                {#{{ form_row(registrationForm.agreeTerms) }}#}


                <button type="submit" class="btn btn-lg btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>

            </div>

    </div>

{% endblock %}
