<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name:'App',
  data(){
    return{
      publicPath: process.env.BASE_URL
    }
  }
};
</script>

<style scoped>

</style>