{% extends 'base.html.twig' %}

{% block body %}
    <div class="row vh-100">
        {% include 'admin/header.html.twig' with {'active': 'rates'} %}
        <div class=" col-12 col-md-9 mt-5">
            <div class="container">
                <h3>Cambio de moneda {{ monedaBase }} para {{ monedaCambio }}</h3>
                {{ form_start(form) }}
                {{ form_widget(form.monedaBase) }}
                {{ form_widget(form.monedaCambio) }}
                <div class="row">
                    <div class="form-group col-6">
                        {{ form_widget(form.rate, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-primary'}})}}
                {{ form_widget(form.dtc, {'attr': {'class': 'd-none'}})}}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}