<div class=" col col-md-3  bg-secondary ">
    <div class="container mt-4 text-white">
        <h3> Yunyun Admin Site</h3>
        <div>
            <span> <a href="{{ path('home') }}" class="link-light">Go site</a> | <a
                        href="{{ path('app_logout') }}" class="link-light">log out </a></span>
        </div>
        <div class="nav flex-column nav-pills mt-4" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">

            <a href="{{ path('admin') }}"
               class="nav-link {% if active =='dashboard' %} active{% endif %} link-light"
               id="v-pills-dashboard-tab"
               role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard
            </a>

            <a href="{{ path('admin_transactions') }}"
               class="nav-link {% if active =='transactions' %} active{% endif %} link-light"
               id="v-pills-transaction-tab"
               role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Transactions
            </a>

            <a href="{{ path('admin_rates') }}"
               class="nav-link {% if active =='rates' %} active{% endif %} link-light"
               id="v-pills-rates-tab"
               role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Rates
            </a>
        </div>
    </div>
    <div id="errors" class="container mt-4">
        {% for label, messages in app.flashes(['success','info','danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>