{% extends 'base.html.twig' %}

{% block body %}
    <div class="row vh-100">
        {% include 'admin/header.html.twig' with {'active': 'rates'} %}
        <div class=" col-12 col-md-9 mt-5">
            <div class="container">
                <div class="text-left">
                    <h1>Rates in system:</h1>
                </div>
                <div class="text-center mt-5">
                    <div class="row justify-content-center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Moneda Base</th>
                                <th scope="col">Moneda de Cambio</th>
                                <th scope="col">Rates</th>
                                <th scope="col">Fecha de ingreso</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rate in rates %}
                                <tr>
                                    <td> {{ rate.getMonedaBase() }}</td>
                                    <td> {{ rate.getMonedaCambio() }}</td>
                                    <td><input type="text" disabled value="{{ rate.getRate() }}"/></td>
                                    <td> {{ rate.getDtc()|date("m/d/Y") }}</td>
                                    <td>
                                        <a class="btn btn-primary"
                                           href="{{ path('admin_edit_rates',{'rateId': rate.getId }) }}">Edit Rate!</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}