{% extends 'base.html.twig' %}


{% block body %}

    <div class="row vh-100">
        {% include 'admin/header.html.twig' with {'active': 'transactions'} %}
        <div class=" col-12 col-md-9 mt-5">
            <div class="container">
                <div class="text-left">
                    <h1>Transaction id: {{ transaction.id }}</h1>
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text ">Usuario</span>
                            <input type="text" class="form-control " value="{{ transaction.user.name }}" disabled
                                   aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Banco de Salida</span>
                            <input type="text" class="form-control " aria-label="bancoSalida"
                                   value="{{ transaction.bancoSalida.getNombre() }}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Banco de llegada</span>
                            <input type="text" class="form-control " aria-label="bancoLlegada" id="bancoLlegada"
                                   value="{{ transaction.bancoLlegada.getNombre() }}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Codigo de Verificacion</span>
                            <input type="text" class="form-control " aria-label="codigoVerificacion"
                                   id="codigoVerificacion" value="{{ transaction.codVerification }}" disabled>
                        </div>
                        {{ form_start(form) }}

                        {{ form_widget(form.submitError, {'attr':{'class':'btn btn-lag btn-danger'}}) }}
                        {{ form_widget(form.submitConfirm, {'attr':{'class':'btn btn-lag btn-primary'}}) }}
                        {{ form_end(form) }}
                    </div>
                    <p class="mt-5">
                        <a href="{{ path('admin_transactions') }}">Go back</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


{% endblock %}