{% extends 'base.html.twig' %}


{% block body %}

<div class="row vh-100">
    {% include 'admin/header.html.twig' with {'active': 'transactions'} %}
    <div class=" col-12 col-md-9 mt-5">
        <div class="container text-left">
                <h1>Transaction id: {{ transaction.id }}</h1>
                <div class="col-4 offset-2">
                    {{ form_start(form) }}
                    <div class="my-3">
                        {{ form_widget(form.confirmError,{'attr':{'class':'form-select form-select-lg mb-3'}}) }}
                    </div>
                    <br/><br/>
                    <div class="row mt-3">
                        <div class="col">
                            <a href="{{ path('admin_transaction', {'id': transaction.id}) }}" >Go back</a>
                        </div>
                       <div class="col">
                           {{ form_widget(form.submitError, {'attr':{'class':'btn btn-lag btn-danger'}}) }}
                       </div>
                    </div>
                    {{ form_end(form) }}
                </div>
        </div>
    </div>
</div>


{% endblock %}