{% extends 'base.html.twig' %}


{% block body %}
    <div class="row vh-100">
        {% include 'admin/header.html.twig' with {'active': 'transactions'} %}
        <div class=" col-12 col-md-9 mt-5">
            <div class="container">
                <div class="text-left">
                    <h1 >Bienvenido currentUser</h1>
                    <p class="font-italic">Que vamos a realizar hoy?</p>
                    <p>Existen <strong>numberOfTransactions</strong> verificaciones esperando.</p>
                </div>
                {% include 'admin/transactionsTable.html.twig' with {'transactions': transactions} %}
            </div>
        </div>
    </div>
{% endblock %}