<div class="mt-2 table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col"># Transaction</th>
            <th scope="col">Usuario</th>
            <th scope="col">Banco salida</th>
            <th scope="col">Monto de salida</th>
            <th scope="col">Banco llegada</th>
            <th scope="col">Monto de llegada</th>
            <th scope="col">Codigo de verificacion</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
        <tr >
            <td scope="row"> {{transaction.id}}</td>
            <td> {{transaction.user.getId()}}</td>
            <td> {{transaction.bancoSalida.getNombre()}}</td>
            <td> {{transaction.montoSalida}}</td>
            <td> {{transaction.bancoLlegada.getNombre()}}</td>
            <td> {{transaction.montoLlegada}}</td>
            <td> {{transaction.codVerification}}</td>
            <td><a href="{{ path('admin_transaction',{'id': transaction.id}) }}" > Open</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>