{% extends 'base.html.twig' %}
{% block title %}Settings{% endblock %}
{% block body %}
    {% include 'Block/header.html.twig' %}
    <div class="container-fluid mt-4">
        <div class="container ">
            <div class="row">
                <div class="col-6 ">
                    <img style="width: 10rem" src="{{ asset('images/personal.png') }}"
                         class="img-thumbnail rounded-0">
                </div>
                <div class="col-6">
                    <p class="text-center" style="font-size: 2rem">
                        {{ app.user.name | capitalize }} {{ app.user.lastname | capitalize }}
                        <br/>
                        {{ app.user.email }}
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-2">
            {% include 'Block/errorBlock.hml.twig' %}
            <div class="accordion" id="accordionUserSetting">
                <div class="card">
                    <div class="card-header" id="informacionPersonal">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button"
                                    data-toggle="collapse" data-target="#informacionPersonalBody"
                                    aria-expanded="true" aria-controls="informacionPersonalBody">
                                Informacion Personal
                            </button>
                        </h2>
                    </div>
                    <div id="informacionPersonalBody" class="collapse show"
                         aria-labelledby="informacionPersonal"
                         data-parent="#accordionUserSetting">
                        <div class="card-body">
                            {{ form_start(form) }}
                            <div>
                                {{ form_errors(form) }}
                            </div>
                            <form>
                                {{ form_row(form._token) }}
                                <div class="form-group row">
                                    <label for="inputEmail3"
                                           class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.email , { 'attr': {'class': 'form-control'},'id':"inputEmail3"}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName"
                                           class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.name , { 'attr': {'class': 'form-control'},'id':"inputName"}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputLastName"
                                           class="col-sm-2 col-form-label">Apellido</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.lastname , { 'attr': {'class': 'form-control'},'id':"inputLastName"}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputLegalDocument"
                                           class="col-sm-2 col-form-label">Legal Document</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.legalDocument , { 'attr': {'class': 'form-control'},'id':"inputLegalDocument"}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputLegalDocumentNumber"
                                           class="col-sm-2 col-form-label">Legal Document Number</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.legalDocumentNumber , { 'attr': {'class': 'form-control'},'id':"inputLegalDocumentNumber"}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        {{ form_widget(form.plainPassword , { 'attr': {'class': 'd-none'},'id':"inputPassword3"}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Sign in
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                {% if user.hasBancos %}
                    <div class="card">
                        <div class="card-header" id="cuentasBancos">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed"
                                        type="button"
                                        data-toggle="collapse" data-target="#cuentasBancosBody"
                                        aria-expanded="false" aria-controls="cuentasBancosBody">
                                    Cuentas Bancos
                                </button>
                            </h2>
                        </div>
                        <div id="cuentasBancosBody" class="collapse" aria-labelledby="cuentasBancos"
                             data-parent="#accordionUserSetting">
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for bancosUser in user.BancosUsers %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-2">
                                                    {{ bancosUser.bancos.nombre }}
                                                </div>
                                                <div class="col-8 text-center">
                                                    {{ bancosUser.cuenta }}
                                                </div>
                                                <div class="col-2 ">
                                                    <a style="text-decoration: none"
                                                       onclick="return confirm('Estas seguro de querer eliminar el banco {{ bancosUser.bancos.nombre }}?')"
                                                       href="{{ path('bancos_user_remove', {'id':  app.user.id}) }}"><span
                                                                class="text-white btn bg-danger"> X </span></a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                            {% if not user.hasMoreThanOneBanco() %}
                                <div class="card-footer">
                                    <a class="btn btn-outline-primary bg-white"
                                       href="{{ path('app_register_bancos') }}">Adicionar nuevo banco</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% else %}
                    <a class="btn btn-outline-primary bg-white"
                       href="{{ path('app_register_bancos') }}">Adiciona Bancos</a>
                {% endif %}
                {% if user.hasTransactions %}
                    {% include 'user_profile/block/transactions.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
