<div class="container text-center">
    {% for label, messages in app.flashes %}
        <div class="bg-{{ label }}">
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


