<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{{ path('home') }}"><i style="font-size: 3rem"
                                            class="fas fa-piggy-bank"></i></a>
        <ul class="navbar-nav mt-2 mt-lg-0 mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register_bancos') }}">Bancos adicionados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('history_transaction') }}">Historial de Operaciones</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mr-5">
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0 mr-sm-3"
                   href="{{ path('transaction') }}">Iniciar Operacion</a>
            </li>
            <li class="nav-item dropdown mr-2">
                <i style="font-size: 2rem" class="fas fa-user mr-sm-2"></i>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="strong">{{ app.user.name | capitalize }}</span>
                {% endif %}
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i style="font-size: 2rem; color: black" class="fas fa-arrow-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                       href="{{ path('user_profile', {'id':  app.user.id}) }}">Settings</a>
                    <a class="dropdown-item"
                       href="{{ path('app_logout') }}">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>