<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Monto de salida</th>
        <th scope="col">Banco de Salida</th>
        <th scope="col">Monto de llegada</th>
        <th scope="col">Banco de Llegada</th>
        <th scope="col">Fecha de transferencia</th>
        <th scope="col"> Status</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        <tr>
            <th scope="row">{{ transaction.getId }}</th>
            <td>{{ transaction.getMontoDeSalida }}</td>
            <td>{{ transaction.getBancoDeSalida }} ({{ transaction.getCurrencyDeSalida }})</td>
            <td>{{ transaction.getMontoDeLlegada }}</td>
            <td>{{ transaction.getBancoDellegada }} ({{ transaction.getCurrencyDeLlegada }})</td>
            <td>{{ transaction.getDtcUser|date("m/d/Y") }}</td>
            <td>{{ transaction.getStatus }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>