<template>
  <div class="container-fluid">
    <div class="text-center">
      <h1>Realiza tus transferencias con nosotros <br/> y ahorra %20</h1>
      <div class="container">

          <div class="text-center">
            <table class="table">
              <tr>
                <th>Moneda</th>
                <th>Cambio $</th>
              </tr>
              <tr>
                <td>PER</td>
                <td>0.27</td>
              </tr>
              <tr>
                <td>BR</td>
                <td>0.18</td>
              </tr>
              <tr>
                <td>CLP</td>
                <td>0.0014</td>
              </tr>
            </table>
          </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "Home"
}
</script>

<style scoped>

</style>