<template>
  <div>
    <div class="container-fluid">
      <stepHeader @pageWasChanged="currentPage = $event"></stepHeader>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 col-2">
            <h3>Informacion de contacto</h3>
            <p>Si requiere de apoyo durante el proceso de transferencia contacte el siguiente email:
              <a href="mailto:a2payema.spam+yunyun@gmail.com" target="_blank">a2payema.spam+yunyun@gmail.com</a>
            </p>
          </div>
          <div class="offset-sm-1 col-sm-6 col-8 text-center">
            <component @setCurrentStep="currentPage = $event" :is="currentPage"></component>
          </div>
          <div class="col-sm-2 offset-sm-1 col-2">
            <h3>Informacion de transferencias</h3>
            <p>
              Para transferencias bancarias tenemos disponibles los siguientes bancos:
              Transferwise, Bradesco, BVA y Wellsfargo
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TransactionHeader from "./TransactionSections/TransactionHeader";
import TransactionFirstStep from "./TransactionSections/TransactionFirstStep";
import TransactionSecondStep from "./TransactionSections/TransactionSecondStep";
import TransactionThirdStep from "./TransactionSections/TransactionThirdStep";
import Success from "./TransactionSections/Success";
import Failure from "./TransactionSections/Failure";
import {store} from "../Store/store";

export default {
  name: "Transaction",
  data: function () {
    return {
      currentPage: store.state.transactionCurrentStep
    }
  },
  components: {
    stepHeader: TransactionHeader,
    TransactionFirstStep: TransactionFirstStep,
    TransactionSecondStep: TransactionSecondStep,
    TransactionThirdStep: TransactionThirdStep,
    SuccessMessage: Success,
    FailureMessage: Failure,
  }
}
</script>

<style scoped>

</style>