{% extends 'base.html.twig' %}

{% block title %}Historia de Transacciones!{% endblock %}

{% block body %}
    {% include 'Block/header.html.twig' %}
    <div class="container">
        {% include "transaction/block/transaction-table.html.twig" with {'transactions': transactionInProgress} %}
    </div>
{% endblock %}
