{% extends 'base.html.twig' %}

{% block title %}Transaccion de cambio!{% endblock %}

{% block body %}

    <div >
        {% include 'Block/header.html.twig' %}
        {% include 'vue.html.twig' %}
    </div>
{% endblock %}